<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@100&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <style>
        .container{
            box-sizing: border-box;
            margin-bottom: 80px;
        }
        .paras{
            border-style: dotted;

        }
       
        .carousel-inner .carousel-item  .card1 {
           box-sizing: border-box;
           border-style: solid;
           border-width: 1.5px;
           height: 450px;
           width: 300px;
           border-radius: 40px;
           margin-left: 225px;
           float: left;
           margin-top: 15px;
           border-color: #00feed;
           margin-bottom: 15px;
        
        }

        .card1 .photo{
            margin-left: 24px;
            margin-top: 15px;
            margin-right: 18px;
            
        }

        hr{
            color:white;
        }

        
       
       
    </style>
</head>

<body>
    <div class="container" style="background-color: beige;">
        <header> 
            <h1 style="text-align: center;">Book Recommendation System</h1>
        </header>

        <div class="paras">
            <p> 
                A book recommender website is an online platform that uses recommendation algorithms to suggest books to users based on their interests, preferences, and behavior. Users can typically create profiles and provide information about their reading habits, such as their favorite authors, genres, and books they have read. The website then uses this data to provide personalized book recommendations.
            </p>

            <p>
                Book recommender websites often use machine learning models to analyze user data and make predictions about which books the user is likely to enjoy. These models can be based on various techniques, such as content-based filtering, collaborative filtering, or hybrid approaches.Book recommender websites can offer various features and services, such as book reviews, ratings, and user-generated content. Some websites may also provide social networking features, such as book clubs or discussion forums, to help users connect and share their reading experiences.
            </p>

            <p>
                Book recommender websites can be used by various types of users, such as avid readers, book clubs, or students looking for books to read for their coursework. They can also be used by businesses, such as publishers or online bookstores, to increase engagement and sales.Overall, a book recommender website can be a valuable resource for users looking to discover new books and expand their reading horizons.
            </p>
         </div>


    </div>

    <br>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <header>
            <h1 style="text-align: center; font-family: 'Cambria', cursive;">Meet Our Team !!</h1>
        </header>
        <br>
        <div class="carousel-inner" >
            
            <div class="carousel-item active" style="background-image: linear-gradient(#58126a,#f6b2e1);">
            
                <div class="card1" >
                    <div class="photo">
                        <img src="images/rohan.jpg"  style="height: 360px; width: 250px; border-radius: 20px;"alt="">
                    </div>
                    <hr>
                    <div class="card_body1">
                        <p style="color: black; text-align:center ; font-family: 'Cambo', serif ;"><b>Rohan Nashikkar</b></p>
                    </div>
                </div>

                <div class="card1">
                    <div class="photo">
                        <img src="images/aniket.jpg"  style="height: 360px; width: 250px; border-radius: 20px;"alt="">
                    </div>
                    <hr>
                    
                    <div class="card_body1">
                        <p style="color: black; text-align:center; font-family: 'Cambo', serif ;"><b>Aniket Ojha</b><p>
                    </div>
                </div>
                
                
            </div>  


            <div class="carousel-item" style="background-image: linear-gradient(#b60f46,#d592ff);">
                <div class="card1" >
                    <div class="photo">
                        <img src="images/shubham.jpg"  style="height: 360px; width: 250px; border-radius: 20px;"alt="">
                    </div>
                    <hr>
                    <div class="card_body1">
                        <p style="color: #000000; text-align:center; font-family: 'Cambo', serif ;"><b>Ruchir Rao</b> </p>
                    </div>
                </div>

                <div class="card1">
                    <div class="photo">
                        <img src="images/shubham.jpg"  style="height: 360px; width: 250px; border-radius: 20px;"alt="">
                    </div>
                    <hr>
                    
                    <div class="card_body1">
                        <p style="color: #0f0f0e; text-align:center; font-family: 'Cambo', serif ;"><b>Shubham Sankpal</b> </p>
                    </div>
                </div>
            </div>
    </div>

</body>

</html>